# © 2020 iamfortress.net
# Apache Fortress default settings.
# Note: Directives that begin with '@' are substitution parms that get automatically replaced.

# Host name and port of LDAP DIT:
host=localhost
port=389

# Options are openldap or apacheds (default):
ldap.server.type=openldap

# Audit only works if ldap.server.type == openldap:
disable.audit=false

# These credentials are used for read/write access to all nodes under suffix:
admin.user=cn=manager,dc=example,dc=com
# LDAP admin root pass is encrypted using 'encrypt' target in build.xml:
admin.pw=secret

# This is min/max settings for LDAP administrator pool connections that have read/write access to all nodes under suffix:
min.admin.conn=1
max.admin.conn=10

# This is min/max connection pool settings for LDAP User authentication connection pool:
min.user.conn=1
max.user.conn=10

# This node contains fortress properties stored on behalf of connecting LDAP clients:
config.realm=DEFAULT
config.root=ou=Config,dc=example,dc=com

# enable this to see trace statements when connection pool allocates new connections:
debug.ldap.pool=false

# Default for pool reconnect flag is false:
enable.pool.reconnect=true

ehcache.config.file=ehcache.xml

apacheds.pwpolicy.root=ou=passwordPolicies,ads-interceptorId=authenticationInterceptor,ou=interceptors,ads-directoryServiceId=default,ou=config
